@media screen and (min-width: 950px) {
    .content {
        display: flex; 
        flex: 1; 
        flex-direction: row; 
        min-width: 80%;
    }
    
    .shortInfo {
        display: flex; 
        flex: 1; 
        flex-direction: column;
        padding-left: 15vh;
    }

    .textContShort {
        display: flex; 
        flex: 1; 
        flex-direction: row;
        padding: 2vh;
    }

    .textContRow {
        display: flex; 
        flex: 1; 
        flex-direction: row;
    }
    
    .imgCont {
        align-self: center;
    }
    
    .textCont {
        display: flex;
        flex: 2;
        padding-left: 15vh;
        padding-right: 15vh;
        min-width: 50vh;
    }
}

@media screen and (max-width: 950px) {
    .content {
        display: flex; 
        flex: 1; 
        flex-direction: column; 
        min-width: 80%;
    }
    
    .shortInfo {
        display: flex; 
        flex: 1; 
        flex-direction: column;
        justify-content: center;
        align-self: center;
        min-width: 50vh;
        padding-bottom: 5vh;
    }
    
    .imgCont {
        align-self: center;
    }
    
    .textCont {
        display: flex;
        padding-left: 7.5vh;
        padding-right: 7.5vh;
        min-width: 50vh;
        max-width: 65vh;
        justify-content: center;
        align-self: center;
    }

    .SkillLevel{
        display: none !important;
    }
}